*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#game_wrapper{
    position: absolute;
    clear: both;
    text-align: center;
}
#game_canvas{
    
}
#leave_room{
    margin: 10px;
}