<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <script src ="<%= address %>/socket.io/socket.io.js"></script>
    <!-- <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script src="/javascripts/miner.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <script>
        var socket = io.connect('<%= address %>');
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
        var login=findGetParameter("login")
        var mail=findGetParameter("mail")
        socket.emit("verify",{"login":login,"mail":mail})
        socket.on("verify_response",function(data){
            console.log(data.is_succes)
            if(data.is_succes==true){
                alert("Succes")
                
            }else{
                alert("Failed")
            }
        })
    </script>
</body>

</html>